@import url("./normalize.css");
/* :root -> 获取元素html */
:root {
	--color-text: #666;
	--color-high-text: #ff5777;
	/* tint:着色 */
	--color-tint: #ff8198;
	--color-background: #fff;
	--font-size: 14px;
	--line-height: 1.5;
}

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	background: var(--color-background);
	width: 100vw;
}

a {
	color: var(--color-text);
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix::after {
	display: block;
	content: '';
	clear: both;
	width: 0;
	height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

